@layer utilities {
    .shadow-primary {
        box-shadow: 0 0 1px 2px var(--primary-shadow);
    }

    .shadow-secondary {
        box-shadow: 0 0 1px 2px var(--secondary-shadow);
    }

    .shadow-accent {
        box-shadow: 0 0 1px 2px var(--accent-shadow);
    }

    .shadow-success {
        box-shadow: 0 0 1px 2px var(--success-shadow);
    }

    .shadow-danger {
        box-shadow: 0 0 1px 2px var(--danger-shadow);
    }

    .shadow-info {
        box-shadow: 0 0 1px 2px var(--info-shadow);
    }

    .shadow-help {
        box-shadow: 0 0 1px 2px var(--help-shadow);
    }

    .shadow-warning {
        box-shadow: 0 0 1px 2px var(--warning-shadow);
    }

    .shadow-black {
        box-shadow: 0 0 1px 2px var(--black-shadow);
    }

    .shadow-white {
        box-shadow: 0 0 1px 2px var(--white-shadow);
    }

    .shadow-gray {
        box-shadow: 0 0 1px 2px var(--gray-shadow);
        border: none !important;
    }
    .card-shadow {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.05), 4px 0 6px rgba(0, 0, 0, 0.05), -4px 0 6px rgba(0, 0, 0, 0.05)
    }
}
