.p-scrollpanel {
    .p-scrollpanel-wrapper {
        /*border-right: 10px solid var(--surface-ground);*/

        .p-scrollpanel-content {
            padding: 0;
            scroll-behavior: smooth;
        }
    }

    .p-scrollpanel-bar {
        background-color: var(--secondary);
        opacity: 1;
        transition: background-color .3s;
    }
}

.scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background-color: #aaa;
    opacity: 0.5;
}

.content {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100%;
}
