@tailwind utilities;

.header {
    @apply rounded-none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    z-index: 1000;
    transition: height 0.3s;
    background-color: var(--secondary);

    &.show {
        height: var(--header);
    }

    .p-menubar {
        height: 100%;
        border-width: 0;
        background-color: var(--secondary);

        .p-menuitem {
            &.p-focus .p-menuitem-content{
                background-color: var(--secondary-darker);
            }

            .p-menuitem-content {
                .p-menuitem-icon, .p-menuitem-text {
                    color: var(--primary-color-text);
                }

                &:hover {
                    background-color: var(--secondary-dark);
                }

                &.active{
                    background-color: var(--secondary-darker);
                }
            }
        }


    }
}
