@import "variables.css";
@import "utils";

@import "react-toastify/dist/ReactToastify.css";
@import 'overlayscrollbars/styles/overlayscrollbars.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    font-family: 'Google Sans', serif;
}

.page-section {
    @apply p-5;
    min-height: calc(100vh - var(--header));
    margin-bottom: 60px;
}

.route {
    position: relative;
    top: -80px;
}

.glass {
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px) saturate(100%) contrast(85%) brightness(130%);
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.btn-small, .form-control-small {
    height: 2.3rem !important;
    min-width: 5rem;
    justify-content: center;
}

.view-container ol, .view-container ul {
    list-style: revert !important;
    margin: revert !important;
    padding: revert !important;
}
